POSTGRES_DB=camara
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# INSTRUÇÕES PARA O TIME:
# Cada integrante deve copiar este arquivo e criar o seu próprio '.env'.
# Isso permite que nosso código crie e acesse o container do Postgres automaticamente
#o .env real sempre deve estar no gitignore.